body {
  background-color: #0D5aBD;
  color: #EFFBFB;
}

#logo {
  height: 10%;
  width: 10%;
}

#title {
  font-size: 5em;
  font-family: 'Nunito', sans-serif;
}

.cancelIcon {
  height: 20px;
  weight: 20px;
}

.cancelIconColumn {
  padding-top: 3%;
  margin-left: -2%;
}

.cancelIconColumn2 {
  margin-left: -2%;
}

.remove_field:hover {
  text-decoration: none;
  cursor: pointer;
}

.remove_field {
  color: black;
  font-size: 20px;
}

.well {
  margin-left: 15%;
  margin-right: 15%;
  background-color: #4683d3;
  width: 70%;
}

.fixedWell {
  position: absolute;
  min-height: 550px;
  min-width: 550px;
}

#navigationBar {
  margin-top: 5px;

}

.navigationBarLink {
  margin: 2%;
  color: white;
}

.reduceMarginBottom {
  margin-bottom: -30px;
}

.container {
  margin: 20px auto;
  width: 100%;
  text-align: center;
}

.container .progress {
  margin: 0 auto;
  width: 100%;
}

.progress {
  padding: 2px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 16px;
  border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

#five:checked ~ .progress > .progress-bar {
  width: 5%;
  background-color: #0C5BB8;
}

#twentyfive:checked ~ .progress > .progress-bar {
  width: 25%;
  background-color: #448CE0;
}

#fifty:checked ~ .progress > .progress-bar {
  width: 50%;
  background-color: #56C1FD;
}

#seventyfive:checked ~ .progress > .progress-bar {
  width: 75%;
  background-color: #92D0FF;
}

#onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #CFF7FA;
}

.radio {
  display: none;
}

.label {
  display: inline-block;
  margin: 0 5px 20px;
  padding: 3px 8px;
  color: white;
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: pointer;
}

.radio:checked + .label {
  color: white;
  background: rgba(0, 0, 0, 0.25);
  position: relative;
}

.btn {
  margin-top: 10px;
}
